* {

}

.zebra-btn {
    /* background: repeating-linear-gradient(
             45deg,
             #007bff,
             #007bff 1px,
             #0061c9 1px,
             #0061c9 15px
     )*/
}

#section-home:before {
    background-image: linear-gradient(45deg,
    rgba(15, 130, 192, 0.60) 0%,
    rgba(15, 130, 192, 0.70) 100%), url("../images/content/try.jpg") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.button {
    text-decoration: none !important;
    color: #FFF !important;
    padding: 10px;
    border: 2px solid white !important;
    border-radius: 10px;
}

.text {
    padding-left: 15px;
    padding-right: 15px;
}

.triangleDown {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgb(108, 166, 221);
    margin-top: 40px;

}

.triangleUp {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #ffffff;
    margin-top: 60px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto
}

.goals li {
    padding: 10px !important;
    list-style-type: lower-alpha;
}

.goals-container h5 {
    margin-top: 20px !important;
}

.subber {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
}

/*  #email{
      pointer-events: none;
  }*/
#email {
    border: none !important;
}

#section-downloads a {
    font-weight: 300 !important;
}

@media (max-width: 992px) {
    #solution-header {
        text-align: center !important;
    }

    .subber {
        text-align: center !important;
    }

    .pb_font-20 {
        padding-top: 20px;
    }
}


.auto-resizable-iframe {
    max-width: 480px;
    margin: 0 auto;
}

.auto-resizable-iframe > div {
    position: relative;
    padding-bottom: 75%;
    height: 0;
}

.auto-resizable-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


iframe {
    border-radius: 10px;
    margin-top: 6px;
}
